@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: '맑은 고딕';
  text-decoration: none;
  list-style: none;
  font-size: 14px;
}

.cf:after {
  content: '';
  clear: both;
  display: block;
}

img {
  vertical-align: top;
}

.wrapper {
  width: 1000px;
  height: 650px;
}

.wrapper aside {
  width: 200px;
  height: 100%;
  float: left;
  background: #aaa;
}

.wrapper main {
  width: 800px;
  height: 100%;
  float: right;
  background: #bbb;
}
aside .logo {
  height: 100px;
  background: #999;
}
aside nav {
  height: 550px;
  background: #888;
}

main .slides {
  height: 350px;
  background: #777;
}
.contents > * {
  height: 200px;
  float: left;
  width: 33.3333%;
}

.contents .notice {
  background: #555;
}
.contents .banner {
  background: #444;
}
.contents .quick_links {
  background: #333;
}
footer {
  height: 100px;
}
footer .logo {
  float: left;
  width: 200px;
  background: #666;
}
footer .menu_copyright {
  float: right;
  width: 600px;
}
footer .footer_menu {
  height: 50px;
  background: #222;
}
footer .copyright {
  height: 50px;
  background: #ddd;
}
.sub_menu {
  display: none;
}

.slide {
  position: absolute;
  display: none;
}

.tabmenu > li {
  float: left;
}
.tabcontent > div {
  display: none;
}
.tabcontent > div.active {
  display: block;
}

#popup {
  display: none;
}
#popup .popup_content {
  position: absolute;
  left: 400px;
  top: 200px;
  background: #fff;
}
#popup.active {
  display: block;
}
