@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  box-sizing: border-box;
  color: #333;
}
img {
  vertical-align: top;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.slides {
  height: 300px;
  overflow: hidden;
}
.slide > ul {
  height: 900px;
}
.slide {
  height: 300px;
  width: 1200px;
  position: relative;
}
.slide h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 25px;
  color: #fff;
}
