@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  box-sizing: border-box;
}
.cf::after {
  content: "";
  clear: both;
  display: block;
}

img {
  vertical-align: top;
}

.wrapper {
  width: 1000px;
  height: 650px;
}

.wrapper aside {
  float: left;
  width: 200px;
  height: 100%;
  background: #aaa;
}
.wrapper main {
  float: right;
  width: 800px;
  height: 100%;
  background: #bbb;
}
aside .logo {
  height: 100px;
  background: #999;
  border: #111 solid 1px;
}
aside nav {
  height: 550px;
  background: #888;
  border: #111 solid 1px;
}
main .slides {
  height: 350px;
  background: #777;
}
.contents > * {
  width: 33.3333%;
  float: left;
  height: 200px;
}
.contents .notice {
  background: #666;
  border: #111 solid 1px;
}
.contents .banner {
  background: #555;
  border: #111 solid 1px;
}

.contents .quick_links {
  background: #444;
  border: #111 solid 1px;
}
.sub_menu {
  display: none;
}
.slide {
  position: absolute;
  display: none;
}

.tabmenu > li {
  float: left;
}
.tabcontent > div {
  display: none;
}
.tabcontent > div.active {
  display: block;
}
#popup {
  display: none;
}

#popup .popup_content {
  left: 400px;
  top: 200px;
  position: absolute;
  background: #fff;
}
#popup.active {
  display: block;
}
footer .logo {
  float: left;
  height: 100px;
  width: 200px;
  border: #111 solid 1px;
}

footer .menu_copyright {
  float: right;
  width: 600px;
  border: #111 solid 1px;
}

footer .footer_menu {
  height: 50px;

  border: #111 solid 1px;
}
footer .copyright {
  height: 50px;
  border: #111 solid 1px;
}
