@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  box-sizing: border-box;
  color: #333;
}
img {
  vertical-align: top;
}
.cf::after {
  content: "";
  clear: both;
  display: block;
}
.wrapper {
  width: 1200px;
}
header {
  height: 100px;
}
header .logo {
  width: 200px;
  margin-top: 30px;
  float: left;
}
header nav {
  position: relative;
  float: right;
  width: 720px;
  margin-top: 30px;
  margin-right: 10px;
  z-index: 1;
}
nav > ul > li {
  position: relative;
  line-height: 40px;
  width: 180px;
  float: left;
  text-align: center;
}
nav > ul > li a {
  display: block;
  background: #333;
  color: #fff;
}

nav > ul > li a:hover {
  background: #fca148;
}
nav ul ul li a {
  display: block;
  background: #fff;
  color: #333;
}
nav ul ul a:hover {
  background: #49d2fc;
}
nav ul ul {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}
