aside nav {
  width: 180px;
  margin: 10px 0 0 10px;
  background: #035262;
}
aside li {
  line-height: 40px;
  text-align: center;
}
.main_menu li a {
  display: block;
  color: #fff;
}
.main_menu li a:hover {
  background-color: #ffb547;
  color: #333;
}
.sub_menu li a:hover {
  background-color: #ddd;
  color: #333;
}
.sub_menu {
  display: none;
}
