@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}
img {
  vertical-align: top;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1000px;
  height: 650px;
}
.wrapper aside {
  width: 200px;
  height: 100%;
  float: left;
}

.wrapper main {
  width: 800px;
  float: right;
  height: 100%;
}
aside .logo {
  height: 100px;
  padding-top: 30px;
}
aside nav {
  width: 180px;
  margin: 10px 0 0 10px;
  background: #035262;
}
aside li {
  line-height: 40px;
  text-align: center;
}
.main_menu li a {
  display: block;
  color: #fff;
}
.main_menu li a:hover {
  background-color: #ffb547;
  color: #333;
}
.sub_menu li a:hover {
  background-color: #ddd;
  color: #333;
}
.sub_menu {
  display: none;
}
main .slides {
  height: 350px;
}
.slide_container {
  width: 100%;
  position: relative;
  height: 350px;
}
.slide {
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0;
  top: 0;
  display: none;
}
.contents > * {
  float: left;
  width: 33.3333%;
}
/* .contents .notice {
  background: #666;
}
.contents .banner {
  background: #555;
}
.contents .quick_links {
  background: #444;
} */

footer .logo {
  float: left;
  width: 200px;
  background: #333;
}
footer .menu_copyright {
  float: right;
  width: 600px;
}
footer .footer_menu {
  height: 50px;
  background: #222;
}
footer .copyright {
  height: 50px;
  background: #ddd;
}

main .contents {
  height: 200px;
  background: #fff;
  padding: 10px 0;
}
.tabmenu li {
  float: left;
}
.tabmenu li a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc; /*  이거 살림 */
  border-bottom: none;
  background: #ccc;
}
.tabmenu li.active a {
  background: #fff;
}
.tabcontent {
  padding: 10px;
  border: 1px solid#ccc;
  position: relative;
  height: 150px;
  box-sizing: border-box;
}
.tabcontent > div {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}
.tabcontent > div.active {
  display: block;
}
#gallery ul li {
  float: left;
  width: 70px;
}
